body {
  font-family: Arial, sans-serif;
  background-color: #725CAD;
  color: #333;
  margin: 0;
  padding:0;
}
header {
  background-color: #0B1D51;
  height: 150px;
  text-align: center;
  color: rgb(223, 214, 214);
}
header p {
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ptitulo{
  padding: 10px;
  font-size: 33px;
}

.psubtitulo{
  padding: 10px;
}
a{
  font-family: cursive;
  color: white;
}


section {
  background-color: #8CCDEB;
  margin: 10px;
}
footer {
  background-color: #FFE3A9;
  color: rgb(7, 15, 1);
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;

}
footer p{
   text-align: right;
   padding: 0;
   margin: 0;
}

.a2{
   color: rgb(7, 15, 1);
}
.section1 {
  
}
.section2 {
}
