h1 {
  color: black;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

body {
   background-color: rgb(255, 245, 245);
  font-family: Arial, sans-serif;
  color: rgb(3, 2, 2);  
  margin: 0;
  padding: 0;
      
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin:0 auto; 
  width: 30%;     
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: hsl(125, 60%, 70%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 160px;
  align-items: center;
  cursor: pointer;
}
a {
  color: rgb(6, 6, 7);
  text-decoration: none;
  align-items: center;
  font-weight: bold;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: hsl(125, 84%, 36%);
}

footer {
  background-color: rgb(228, 221, 221);
  color: rgb(3, 2, 2);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  font-size: 14px;
  color: rgb(3, 2, 2);
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}
